 body {
     font-family: "Quicksand", serif;
     font-optical-sizing: auto;
     font-weight: weight;
     font-style: normal;
     margin: 0;
     padding: 0;
     background-image: url(/assets/bg.png);
 }

 /* nav styles */
 .logo {
     display: flex;
 }

 .nav-section {
     display: flex;
     justify-content: space-between;
     margin-left: 140px;
     margin-top: 20px;
     width: 100%;
 }

 .nav-section h2 {
     color: #111111;
 }


 .navigation {
     display: flex;

 }

 #home {
     color: #FEA301;
 }

 #about {
     color: #01ACFD;
 }

 #facilities {
     color: #05D4DF;
 }

 #admission {
     color: #5D58EF;
 }

 .navigation ul {
     display: flex;
     list-style: none;
     gap: 32px;
     margin-right: 185px;

 }

 .navigation a {
     text-decoration: none;
 }

 .btn1 {
     padding: 10px 60px;
     margin-top: 14px;
     margin-right: 200px;
     font-size: 1rem;
     font-weight: 600;
     border: none;
     border-radius: 12px;
     color: #ffffff;
     background-color: #FEA301;

 }



 .navbar-icon {
     font-size: 40px;
     display: none;
 }

 /* empower-img-title1 & 2 styles */
 .btn2 {
     padding: 10px 60px;
     margin-top: 14px;
     margin-right: 200px;
     font-size: 1rem;
     font-weight: 600;
     border: none;
     border-radius: 12px;
     color: #ffffff;
     background-color: #111111;
 }

 .empower-img-title1 {
     display: flex;
     gap: 50px;


 }

 .empower-title-des {
     margin-left: 141px;
     margin-top: 120px;
 }

 .img {
     margin-left: 150px;

 }

 .empower-img-title2 {
     display: none;
 }

 /* responsive media query */
 @media screen and (max-width:576px) {
     .navigation {
         display: none;


     }

     .btn1 {
         padding: 10px 60px;
         margin-top: 14px;
         margin-right: 200px;
         font-size: 1rem;
         font-weight: 600;
         border: none;
         border-radius: 12px;
         color: #ffffff;
         background-color: #FEA301;
     }


     header {
         border: 1px solid #FEA301;
         width: 100%;
     }

     .nav-section {
         margin: 12px 328px 12px 16px;
     }

     .logo h2 {
         display: none;
     }

     .logo-icon-conainer {

         display: flex;
         gap: 280px;

     }

     .navbar-icon {
         display: flex;
         margin-top: 10px;
         margin-right: 50px;


     }



     .empower-img-title1 {
         display: none;


     }

     .empower-img-title2 {
         display: grid;
         grid-template-columns: (1, 1fr);
     }

     .btn2 {

         padding: 10px 60px;
         margin-top: 14px;
         margin-right: 200px;
         font-size: 1rem;
         font-weight: 600;
         border: none;
         border-radius: 12px;
         color: #ffffff;
         background-color: #111111;
     }


 }

 /* medium size device */
 @media screen and (min-width:576px) and (max-width:992px) {}